<!DOCTYPE html>
<html>
<style>
h1 {
  text-align: center;
  font-family: Calibri;
}
ul {
 margin-top: 50px;
 padding: 0; /* Убираем поля */
}

li {
  display: inline;
  margin-right: 50px;
  margin-left: 50px;
}

hr {
  clear: left;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.right{
    width: 50%;
    min-height: 150px;
    margin-left: 15%;
    float: left;
}
.left{
    width: 18%;
    min-height: 150px;
    margin-right: 15%;
    margin-left: 2%;
    float: right;
}
.footer{
    clear: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.center {
  text-align: center;
}
</style>

<head>

</head>

<body>

<h1>ALPHA-BLOG</h1>
<p class="center">In reasonable compliment favourable is connection dispatched in terminated.</p>

<div class="center">
  <ul>
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to 'ARTICLE', root_path %></li>
    <li><%= link_to 'ABOUT', about_path %></li>
    <li><%= link_to 'CONTACT', root_path %></li>
  </ul>
</div>

<hr>
<div class="right">
<h2>About</h2>

<p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those stand she end. So unaffected partiality indulgence dispatched to of celebrated remarkably. Unfeeling are had allowance own perceived abilities. </p>

<p>Man request adapted spirits set pressed. Up to denoting subjects sensible feelings it indulged directly. We dwelling elegance do shutters appetite yourself diverted. Our next drew much you with rank. Tore many held age hold rose than our. She literature sentiments any contrasted. Set aware joy sense young now tears china shy. </p>

<p>Received the likewise law graceful his. Nor might set along charm now equal green. Pleased yet equally correct colonel not one. Say anxious carried compact conduct sex general nay certain. Mrs for recommend exquisite household eagerness preserved now. My improved honoured he am ecstatic quitting greatest formerly. </p>

<p>Extremity direction existence as dashwoods do up. Securing marianne led welcomed offended but offering six raptures. Conveying concluded newspaper rapturous oh at. Two indeed suffer saw beyond far former mrs remain. Occasional continuing possession we insensible an sentiments as is. Law but reasonably motionless principles she. Has six worse downs far blush rooms above stood. </p>
</div>

<div class="left">
<h2>Welcome</h2>
<p>Living valley had silent eat merits esteem bed. In last an or went wise as left. Visited civilly am demesne so colonel he calling. So unreserved do interested increasing sentiments. Vanity day giving points within six not law. Few impression difficulty his use has comparison decisively. </p>
<h2>Blog archive</h2>
<input type="text" name="search" style = "border:1px solid;border-radius:5px;">
<input type="submit" value="SEARCH" style = "border:1px solid;border-radius:5px;">
</div>


<hr>
<div class="footer">
<p>Alteration literature to or an sympathize mr imprudence. Of is ferrars subject as enjoyed or tedious cottage. Procuring as in resembled by in agreeable. Next long no gave mr eyes. Admiration advantages no he celebrated so pianoforte unreserved. Not its herself forming charmed amiable. Him why feebly expect future now.</p>
</div>

</body>
</html>
